# Time interval Code 1

1. Get the data for particular interval time (5, 15, 30 min)
2. Create a column to tell whether it is bull or bearish
3. Take the count whether its getting more bullish or bearish on particular interval ( ex: 9.15 - 9.20 , Bull - 30, Bearish - 40)
4. Analyze the result based on days ( ex:- Monday,  9.15 - 9.20 , Bull - 30, Bearish - 40 )
5. Find proper insights from this

In [30]:
import pandas as pd

path_to_read_csv =  "D:/ShareMarket/Data/five_min_candle/Bank_nifty_10Years_5min_data.csv"
path_to_write = "D:/ShareMarket/Data/five_min_candle/Bank_nifty_10Years_5min_formated_data.csv"

In [31]:
df = pd.read_csv(path_to_read_csv)
df.head()

                       DATE_TIME      OPEN      HIGH       LOW     CLOSE
0  2012-11-01 09:15:00.000000015  11276.55  11276.55  11237.90  11245.30
1  2012-11-01 09:20:00.000000015  11248.35  11263.40  11230.20  11259.15
2  2012-11-01 09:25:00.000000015  11261.25  11283.80  11256.90  11282.75
3  2012-11-01 09:30:00.000000015  11284.55  11312.20  11284.55  11311.20
4  2012-11-01 09:35:00.000000015  11312.00  11314.05  11303.30  11303.60

## method 1
1. Find whether how much value changed (from open to close)

In [32]:
def f(row):
    if row['OPEN'] == row['CLOSE']:
        val = 0
    elif row['OPEN'] > row['CLOSE']:
        val = row['CLOSE'] - row['OPEN']
    else:
        val = row['CLOSE'] - row['OPEN']
    return val

In [33]:
df['VALUE_CHANGE'] = df.apply(f, axis=1)
df.head()

## Method 2
1. Find whether the sentiments is bullish or bearish

In [35]:
def find_bearish_or_bullish(row):
    if row['VALUE_CHANGE'] > 0:
        val = "Bull"
    else:
        val = "Bear"
    return val

In [36]:
df['TREND'] = df.apply(find_bearish_or_bullish, axis=1)

In [37]:
df.head()

,DATE_TIME,OPEN,HIGH,LOW,CLOSE,VALUE_CHANGE,TREND
0,2012-11-01 09:15:00.000000015,11276.55,11276.55,11237.90,11245.30,-31.25,Bear
1,2012-11-01 09:20:00.000000015,11248.35,11263.40,11230.20,11259.15,10.80,Bull
2,2012-11-01 09:25:00.000000015,11261.25,11283.80,11256.90,11282.75,21.50,Bull
3,2012-11-01 09:30:00.000000015,11284.55,11312.20,11284.55,11311.20,26.65,Bull
4,2012-11-01 09:35:00.000000015,11312.00,11314.05,11303.30,11303.60,-8.40,Bear

## Method 3
1. Add day (monday,tuesday etc)

In [38]:
import datetime
import calendar
 
def findDay(row):
    born = datetime.datetime.strptime(row['DATE_TIME'].split(' ')[0], '%Y-%m-%d').weekday()
    return (calendar.day_name[born])

In [39]:
df['Day'] = df.apply(findDay, axis=1)

In [40]:
df.head()

,DATE_TIME,OPEN,HIGH,LOW,CLOSE,VALUE_CHANGE,TREND,Day
0,2012-11-01 09:15:00.000000015,11276.55,11276.55,11237.90,11245.30,-31.25,Bear,Thursday
1,2012-11-01 09:20:00.000000015,11248.35,11263.40,11230.20,11259.15,10.80,Bull,Thursday
2,2012-11-01 09:25:00.000000015,11261.25,11283.80,11256.90,11282.75,21.50,Bull,Thursday
3,2012-11-01 09:30:00.000000015,11284.55,11312.20,11284.55,11311.20,26.65,Bull,Thursday
4,2012-11-01 09:35:00.000000015,11312.00,11314.05,11303.30,11303.60,-8.40,Bear,Thursday

In [41]:
df.to_csv(path_to_write, index = False)