## Create banknifty datasets for programming
1. Download the data from internet, Test it once before finalizing the source
2. I used https://tradingtuitions.com/intraday-1-minute-data-free-download/ to get the data
3. Tested data with in.tradingview graph (one minute slight difference is there)
4. Downloaded the zip, created a folder conolidated banknifty which contains only data from 2013 - 2021

### Pseudocode
* Create a method which inserts the data into an excel sheet
* Go to the folder
* Read one by one files
* Split the data based on comma
* insert the data into the excel
* Sort the data based on date, so that we can create proper analysis
* Write the data into the folder. So that next time we can use the same file

In [30]:
import os
import pandas as pd

path = "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated Banknifty"
path_to_write = "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated_Banknifty.txt"
path_to_write_csv = "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated_Banknifty.csv"

def convert_dataset_to_excel():
    os.chdir(path)
    consolidated_text_file = ""
    # iterate through all file
    for file in os.listdir():
        if file.endswith(".txt"):
            file_path = f"{path}\{file}"
            
            consolidated_text_file = consolidated_text_file + read_text_file(file_path)
    
    file1 = open(path_to_write,"w")
    file1.writelines(consolidated_text_file)
    file1.close()
    
    dataframe1 = pd.read_csv(path_to_write, usecols =[0,1,2,3,4,5,6])
    return dataframe1

In [31]:
def read_text_file(file_path):
    with open(file_path, 'r') as f:
        return f.read()

In [32]:
dataframe1 = convert_dataset_to_excel()
print("-- finished")

-- finished

In [33]:
len(dataframe1)

832233

In [34]:
headerList = ['TYPE', 'DATE', 'TIME', "OPEN", "HIGH", "LOW" ,"CLOSE"]
dataframe1.to_csv(path_to_write_csv, header=headerList, index=False)

## Converting the date field into proper date format

In [35]:
import pandas as pd

path_to_read_csv =  "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated_Banknifty.csv"
path_to_write_csv = "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated_Banknifty_with_date.csv"

df = pd.read_csv(path_to_read_csv)

In [36]:
print(df.head())

        TYPE      DATE   TIME      OPEN      HIGH       LOW     CLOSE
0  BANKNIFTY  20121203  09:17  12161.75  12164.80  12130.40  12130.40
1  BANKNIFTY  20121203  09:18  12126.85  12156.10  12126.85  12156.10
2  BANKNIFTY  20121203  09:19  12157.25  12164.75  12151.60  12164.20
3  BANKNIFTY  20121203  09:20  12162.80  12162.80  12148.20  12151.15
4  BANKNIFTY  20121203  09:21  12152.95  12159.90  12151.90  12158.15

In [37]:
df['DATE'] = df['DATE'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [38]:
print(df.head())

        TYPE       DATE   TIME      OPEN      HIGH       LOW     CLOSE
0  BANKNIFTY 2012-12-03  09:17  12161.75  12164.80  12130.40  12130.40
1  BANKNIFTY 2012-12-03  09:18  12126.85  12156.10  12126.85  12156.10
2  BANKNIFTY 2012-12-03  09:19  12157.25  12164.75  12151.60  12164.20
3  BANKNIFTY 2012-12-03  09:20  12162.80  12162.80  12148.20  12151.15
4  BANKNIFTY 2012-12-03  09:21  12152.95  12159.90  12151.90  12158.15

In [39]:
headerList = ['TYPE', 'DATE', 'TIME', "OPEN", "HIGH", "LOW" ,"CLOSE"]
df.to_csv(path_to_write_csv, header=headerList, index=False)

## Sort the Date for proper analysis

In [40]:
import pandas as pd

path_to_read_csv = "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated_Banknifty_with_date.csv"
path_to_write_csv = "D:\ShareMarket\Data\Intraday 1 Min Data\Intraday 1 Min Data\Consolidated_Banknifty_sorted.csv"

df = pd.read_csv(path_to_read_csv)

In [41]:
rslt_df = df.sort_values(by = ['DATE', 'TIME'])

In [42]:
rslt_df.head()

           TYPE        DATE   TIME      OPEN      HIGH       LOW     CLOSE
7499  BANKNIFTY  2012-11-01  09:16  11276.55  11276.55  11265.80  11268.90
7500  BANKNIFTY  2012-11-01  09:17  11267.95  11267.95  11258.85  11260.05
7501  BANKNIFTY  2012-11-01  09:18  11259.45  11259.45  11243.90  11243.90
7502  BANKNIFTY  2012-11-01  09:19  11246.50  11246.60  11237.90  11238.90
7503  BANKNIFTY  2012-11-01  09:20  11241.15  11247.20  11239.30  11245.30

In [43]:
headerList = ['TYPE', 'DATE', 'TIME', "OPEN", "HIGH", "LOW" ,"CLOSE"]
rslt_df.to_csv(path_to_write_csv, header=headerList, index=False)