In [5]:
pip install plotly

Collecting plotlyNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\sanoj\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading plotly-5.5.0-py2.py3-none-any.whl (26.5 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\sanoj\appdata\local\programs\python\python39\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.5.0 tenacity-8.0.1

In [6]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

In [27]:
data = yf.download(tickers='^NSEBANK', start="2015-01-01", end="2015-02-02", interval='15m',group_by="ticker")
#Print data
path_to_write_csv = "D:\ShareMarket\Data\Banknifty_10year_5min.csv"

data.to_csv(path_to_write_csv)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^NSEBANK: 15m data not available for startTime=1420050600 and endTime=1422815400. The requested range must be within the last 60 days.

In [15]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-01-10 09:15:00+05:30,37930.550781,38221.050781,37930.550781,38006.351562,38006.351562,0
2022-01-10 09:30:00+05:30,38000.898438,38181.699219,37998.351562,38117.148438,38117.148438,0
2022-01-10 09:45:00+05:30,38111.500000,38180.300781,38097.351562,38171.699219,38171.699219,0
2022-01-10 10:00:00+05:30,38173.898438,38249.851562,38173.898438,38232.699219,38232.699219,0
2022-01-10 10:15:00+05:30,38231.949219,38260.550781,38114.500000,38172.898438,38172.898438,0
...,...,...,...,...,...,...
2022-01-14 14:15:00+05:30,38317.398438,38349.601562,38274.949219,38319.500000,38319.500000,0
2022-01-14 14:30:00+05:30,38317.851562,38327.949219,38285.300781,38302.949219,38302.949219,0
2022-01-14 14:45:00+05:30,38301.550781,38358.851562,38300.550781,38339.949219,38339.949219,0
2022-01-14 15:00:00+05:30,38338.851562,38446.500000,38338.851562,38378.300781,38378.300781,0
2022-01-14 15:15:00+05:30,38377.898438,38385.601562,38304.949219,38312.800781,38312.800781,0