# To create Dataset with different time frames (5, 10, 15 minutes etc)

1. Read the csv
2. Convert the date and time field to date_time (this is more convenient to use)
3. Resample the data (convert data into 5min, 10min, 30min etc)
4. Remove the records with empty data
5. Verify the data with proper data manually

## Limitation
* it is working only for 5 and 15 minutes
* In 10 minutes we are not able to plot the data starting from 9.15, it is starting from 9.10 (not correct)

In [62]:
import pandas as pd

path_to_read_csv =  "D:/ShareMarket/Data/Intraday 1 Min Data/Intraday 1 Min Data/Consolidated_Banknifty_sorted.csv"
path_to_write = "D:/ShareMarket/Data/five_min_candle/Bank_nifty_10Years_15min_data.csv"
time_frame = "15min"

In [63]:
df = pd.read_csv(path_to_read_csv,  usecols=["DATE","TIME","OPEN","HIGH","LOW","CLOSE"], 
                 parse_dates=[["DATE","TIME"]], index_col=['DATE_TIME'])

In [64]:
print(df.head())

                         OPEN      HIGH       LOW     CLOSE
DATE_TIME
2012-11-01 09:16:00  11276.55  11276.55  11265.80  11268.90
2012-11-01 09:17:00  11267.95  11267.95  11258.85  11260.05
2012-11-01 09:18:00  11259.45  11259.45  11243.90  11243.90
2012-11-01 09:19:00  11246.50  11246.60  11237.90  11238.90
2012-11-01 09:20:00  11241.15  11247.20  11239.30  11245.30

In [65]:
import datetime as dt
df.between_time('09:15', '15:30')

                         OPEN      HIGH       LOW     CLOSE
DATE_TIME
2012-11-01 09:16:00  11276.55  11276.55  11265.80  11268.90
2012-11-01 09:17:00  11267.95  11267.95  11258.85  11260.05
2012-11-01 09:18:00  11259.45  11259.45  11243.90  11243.90
2012-11-01 09:19:00  11246.50  11246.60  11237.90  11238.90
2012-11-01 09:20:00  11241.15  11247.20  11239.30  11245.30
...                       ...       ...       ...       ...
2021-10-29 15:26:00  39184.80  39206.25  39183.95  39204.45
2021-10-29 15:27:00  39206.15  39247.40  39203.55  39247.40
2021-10-29 15:28:00  39249.60  39255.45  39236.10  39239.40
2021-10-29 15:29:00  39243.75  39255.85  39235.25  39248.75
2021-10-29 15:30:00  39254.80  39280.50  39246.55  39270.55

[828436 rows x 4 columns]

In [ ]:
# df[(df.DATE_TIME < '2016-12-02 22:00:00') | (df.b > '2016-12-03 00:00:00')]

In [66]:
ohlc = {
    'OPEN': 'first',
    'HIGH': 'max',
    'LOW': 'min',
    'CLOSE': 'last'
}

df = df.resample(time_frame, origin=15).apply(ohlc)

df.head()

                                   OPEN      HIGH       LOW     CLOSE
DATE_TIME
2012-11-01 09:15:00.000000015  11276.55  11283.80  11230.20  11282.75
2012-11-01 09:30:00.000000015  11284.55  11314.05  11284.55  11303.10
2012-11-01 09:45:00.000000015  11301.00  11320.65  11300.65  11304.95
2012-11-01 10:00:00.000000015  11305.20  11305.85  11285.55  11290.40
2012-11-01 10:15:00.000000015  11291.55  11300.10  11273.10  11276.60

In [67]:
len(df)

315290

In [68]:
df = df[df['OPEN'] > 0]

In [69]:
len(df)

57176

In [70]:
df.to_csv(path_to_write)